@import url('https://fonts.googleapis.com/css?family=Dosis');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400');
*{
    transition: all 0.5s ease;
}
img{
    max-width: 100%;
}
a{
    color: inherit;
    text-decoration: none;
}
.container{
    margin: 0 10%;
}
section.container{
    padding: 7% 0;
}
.row-3{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.row-3 > div{
    width: 32%;
}
.social-item-with-border{
    margin: 0 10px;
    border: 1px solid #000;
    width: 25px;
    height: 25px;
    text-align: center;
    transform: rotate(45deg);
    border-radius: 5px;
}
.social-item-with-border i{
    line-height: 25px;
    transform: rotate(-45deg);
}
/*section top*/
.top{
    background: url('../img/bg-header.png');
    background-size: cover;
}
.top-opacity{
    background-color: rgba(0, 0, 0, 0.3);
    padding-bottom: 15px;
}
.top-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.top-content{
    text-align: center;
}
.top-content h1{
    opacity: 0.9;
    color: #fefefe;
    font-family: 'Dosis', sans-serif;
    font-size: 30px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 51.01px;
    padding: 20vh 0 7vh;
}
.top-content .subtitle-header{
    opacity: 0.68;
    color: #fefefe;
    font-family: 'Open Sans', sans-serif;
    font-size: 19px;
    font-weight: 300;
    padding-bottom: 25%;
}
.logo img{
    width: 118px;
    max-width: inherit;
    padding-left: 2%;
}
.menu-header{
    display: flex;
    transition: height 2s;

}
.menu-header-mob{
    display: none;
    border: none;
    background-color: transparent;
    color: #fff;
    outline: none;
    font-size: 25px;
}
.menu-header li{
    margin: 34px 32px;
    opacity: 0.75;
    color: #ffffff;
    font-family: 'Open Sans', sans-serif;
    font-size: 11px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 3.3px;
}
.menu-header li:hover{
    opacity: 1;
    color: #212121;
}
.white-romb{
    width: 20px;
    height: 20px;
    background-color: #fff;
    transform: rotate(45deg);
    border-radius: 5px;
    display: inline-block;
}
.black-arrow-down{
    transform: rotate(-45deg);
    line-height: 20px;
}
/*styles for about section*/

.title{
    color: #111;
    font-family: 'Dosis', sans-serif;
    font-size: 18px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 9px;
    margin: 6vh 0;
    text-align: center;
}
.title-about{
    text-align: left;
}
.subtitle-about{
    color: #777777;
    font-family: 'Open Sans', sans-serif;
    font-size: 24px;
    font-weight: 300;
    line-height: 38px;
}
.subtitle-about > small{
    font-size: 11px;
}
.text-about {
    color: #777777;
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    font-weight: 300;
    line-height: 26px;
}

.img-list > div {
    text-align: center;
}

.worker-name,
.worker-job {
    font-family: 'Dosis', sans-serif;
    text-align: center;
    text-transform: uppercase;
    color: #777;
    font-weight: 400;
}
.worker-name{
    font-size: 15px;
    letter-spacing: 6px;
    margin: 30px 0 16px;
}
.worker-job{
    letter-spacing: 5px;
    font-size: 12px;
}
.img-list{
    margin: 6% 0;
}
.scene {
    perspective: 600px;
    height: 420px;
}
.card {
    width: 100%;
    height: 100%;
    position: relative;
    transition: transform 1s;
    transform-style: preserve-3d;
}
.card__face {
    position: absolute;
    height: 100%;
    width: 100%;
    backface-visibility: hidden;
}

.card__face--back {
    background: #fffce7;
    transform: rotateY( 180deg );
    padding: 15px;
    margin-left: -15px;
    height: 90%;
}

.card.is-flipped {
    transform: rotateY(180deg);
}
/*section services*/
#services .hide{
    display: none;
}
#services .show{
    display: flex;
}
.list-services{
    display: flex;
    justify-content: center;
}
.list-services li{
    text-align: center;
    margin: 0 3%;
    color: #777777;
    cursor: pointer;
}
.list-services li span{
    font-size: 48px;
    font-weight: 400;
    letter-spacing: 24px;
}
.list-services .icon-active h4,
.list-services .icon-active span {
    color: #111111;
}
/*section digital-services*/
.digital-services{
    background: #111;
    height: 443px;
    margin: 5% 0;
}
.monitor-image{
    float: right;
    margin-top: -40px;
}
.digital-services-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 443px;
}
.white-title{
    color: #fff;
    font-family: 'Dosis', sans-serif;
    font-size: 18px;
    font-weight: 300;
    line-height: 26px;
    text-transform: uppercase;
    letter-spacing: 5.4px;
}
.white-text{
    opacity: 0.7;
    color: #ffffff;
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    font-weight: 300;
    line-height: 26px;
    margin-top: 27px;
}
.white-btn{
    color: #111111;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 26px;
    text-transform: uppercase;
    letter-spacing: 2.8px;
    background-color: #fff;
    opacity: 0.8;
    border: none;
    outline: none;
    margin: 40px 0;
    width: 120px;
    padding: 12px 0;
}
.white-btn:hover{
    cursor: pointer;
    opacity: 0.5;
}
/*section portfolio*/
.portfolio-text{
    text-align: center;
    max-width: 50%;
    margin: 0 auto;
}
.portfolio-list{
    display: flex;
    justify-content: center;
}
.portfolio-list li{
    list-style: none;
    color: #111111;
    font-family:'Dosis', sans-serif;
    font-size: 13px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 5.2px;
    padding: 35px;
}
.portfolio-galary{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}
.grey-layer{
    width: 32%;
    filter: grayscale(100%);
    padding: 0 0.66%;
}
.grey-layer:hover{
    filter: none;
    cursor: pointer;
}
/*section Why Choose Us?*/
.title-item{
    text-align: center;
    color: #111111;
    font-family: 'Dosis', sans-serif;
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 5.6px;
    margin: 35px 0;
}
.custom-icon span{
    color: #111111;
    font-size: 48px;
    letter-spacing: 24px;
    font-weight: 400;
    margin: 35px 0;
}
.custom-icon p{
    text-align: justify;
}
.row-3-center > div{
    text-align: center;
}
.row-margin{
    margin-top: 40px;
}
/*section start project*/
.start-project{
    background: #111;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    height: 218px;
}
.btn-start-project{
    width: auto;
    padding: 12px 50px;
    margin: 24px 0 0;
}

/*section people say*/

.what-people-say{
    background: black;
    padding: 7% 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.what-people-say .white-text{
    text-align: center;
}
.quotes-item{
    color: #ffffff;
    font-size: 32px;
    font-weight: 400;
    line-height: 32px;
    padding-bottom: 20px;
}
.container-what-people-say{
    margin: 0 20px;
    display: flex;
    flex-direction: column;
    align-items: center;

}
.wrapper {
    overflow: hidden;
    width: 620px;
}
.list {
    display: flex;
    justify-content: flex-start;
}
.item {
    min-width: 600px;
}
.next-prev {
    color: white;
    font-size: 50px;
}
/*end section people say*/

/*section news*/
.news-title{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.news-item p{
    text-align: left;
}
.news-title a{
    color: #999999;
    font-family: 'Dosis', sans-serif;
    font-size: 11px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 4.4px;
}
.grey-btn{
    background-color: #e6e6e6;
    color: #777777;
    font-family: 'Open Sans', sans-serif;
    font-size: 11px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 2.2px;
    border: none;
    padding: 10px 20px;
}
.text-news{
    margin: 20px 0;
}
/*end section news*/

/*section Subscribe*/
.subscribe{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f8f8f8;
}
.subscribe > div{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.subscribe .title{
    font-size: 16px;
    font-weight: 300;
    line-height: 26px;
    letter-spacing: 4.8px;
}
.subscribe input{
    height: 36px;
    width: 240px;
    text-transform: uppercase;
    padding-left: 5px;

}
.black-btn{
    color: #fff;
    background-color: #000;
    border: none;
    outline: none;
    opacity: 0.8;
    letter-spacing: 2.8px;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 400;
    padding: 12px 20px;
    border-radius: 3px;
    margin-left: 5px;
    text-transform: uppercase;
}
.subscribe-note{
    color: #aaaaaa;
    font-family: 'Open Sans', sans-serif;
    font-size: 11px;
    font-weight: 400;
    line-height: 26px;
    margin: 2% 0;
}
/*section contacts*/
.contacts {
    margin: 0 20%;
    padding: 4% 0;
}
.contacts .row-3 > div{
    display: flex;
    flex-direction: row;

}
.contacts .social-item-with-border{
    background-color: black;
    color: white;
}
.contact-inputs {
    display: flex;
}

.contact-inputs div {
    width: 50%;
    margin: 6% 0 3%;
}

.contact-inputs input, .contact-inputs textarea {
    width: 98%;
    height: 36px;
    margin: 5px 0;
    border: 1px solid rgba(0, 0, 0, 0.1);
    color: #777777;
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 26px;
    text-transform: uppercase;
}
.contact-inputs input{
    width: calc(98% - 5px);
    padding-left: 5px;
}
.contact-inputs textarea {
    height: 85px;
}
.contact-btn{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.number-contact{
    color: #777777;
    font-family: 'Dosis', sans-serif;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 3.6px;
    text-transform: uppercase;
    position: relative;
}
.number-contact span{
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    line-height: 24px;
    letter-spacing: 0;
    color: #444444;
}

/*start section map*/
.map-section {
    position: relative;
}
.map-cover{
    background-color: rgba(0, 0, 0, 0.85);
    background-size: cover;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: absolute;
    top: 0;
    z-index: 35;
    left: 0;
    right: 0;

}
.map-section .social-item-with-border{
    margin: 0;
    background-color: #fff;
    color: #000;
    border: none;
}
.map-section .white-title{
    padding-top: 15px;
    cursor: pointer;
}

/*end section map*/

/* start section footer*/

.footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #f8f8f8;
    padding: 5% 0 2%;
}
.social-items-footer{
    margin-top: 2%;
}
.social-items-footer ul{
    display: flex;
    flex-direction: row;
}
.social-items-footer li:hover{
    color: white;
    background-color: black;
}
.copi-footer{
    color: #111111;
    font-family: 'Dosis', sans-serif;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 6px;
    text-transform: uppercase;
    margin: 5% 0 5px;
}
.made-footer{
    color: #999999;
    font-family: 'Open Sans', sans-serif;
    font-size: 11px;
    font-weight: 400;
    line-height: 24px;
}

/*Media queries*/

@media screen and (max-width: 960px){
    .row-3{
        flex-wrap: wrap;
    }
    .row-3 > div{
        width: 48%;
        padding-top: 10px;
    }
    .row-3 .subtitle-about{
        width: 100%;
    }
    .img-list > div{
        width: 100%;
        padding: 2px 25%;
    }
    .menu-header{
        display: none;
        position: absolute;
        right: 0;
        left: 0;
        z-index: 10;
        background: #282418;;
        top: 60px;
    }
    .menu-header li:hover {
        background-color: #999999;
    }
    .top-header a {
        color: inherit;
        text-decoration: none;
        width: 100%;
        display: block;
        padding: 10px;

    }
    .menu-header-mob{
        display: block;
        color: #fff;
        margin: 20px 32px;
    }
    .top-content h1{
        letter-spacing: 24px;
    }
    .monitor-image{
        display: none;
    }
    .list-services{
        flex-direction: column;
    }
    .portfolio-text{
        max-width: 90%;
    }
    .grey-layer{
        width: 50%;
    }
    .contacts{
        margin: 0 4%;
    }
    .contact-inputs{
        flex-direction: column;

    }
    .contact-inputs input{
        width: 98%;
    }
    .contact-inputs > div{
        width: 100%;
        margin: 0;
    }
    .contact-btn{
        flex-direction: column;
        align-items: flex-start;
    }
    .contacts .row-3{
        flex-direction: column;
        align-items: center;
        margin-bottom: 15px;
    }

}
@media screen and (max-width: 600px){
    .row-3 > div{
        width: 100%;
    }
    .portfolio-list{
        flex-direction: column;
        align-items: center;

    }
    .portfolio-list li{
        padding: 20px;
    }
    .grey-layer{
        width: 100%;
    }
}
@media screen and (max-width: 430px){
    .subscribe > div {
        flex-direction: column;
    }
    .subscribe > div > button {
        margin: 10px 0;
    }
}
@media screen and (min-width: 960px) {
    .menu-header-mob {
        display: none;
    }
    .menu-header {
        display: flex !important;
    }
}